.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.capsule-corp-blue {
    background-color: #0271CF;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.background {
    background: url(./assets/dr-brief.png) no-repeat, 
        url(./assets/hoipoicapsule1.png) no-repeat,
        url(./assets/hoipoicapsule2.png) no-repeat,
        url(./assets/hoipoicapsule3.png) no-repeat;
    background-position: 90vw 65vh, 1vw 43vh, 1vw 60vh, 1vw 78vh;
}

/*****************************
  NAV
*****************************/
.capsule-corp-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}

.margin-nav {
  margin-right: 2em
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

.bg-light {
  background-color: #ffffff !important;
}

nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  font-family: "Arial Black" "Arial Bold", Gadget, sans-serif; 
  font-size: 1.1em; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700;
  padding-top: 20px;
}

#examples-dropdown {
  cursor: pointer;
}

.border-black {
    border: black;
}

#nav-brand {
    color: #0271CF;
    font-size: 1.2em;
}

ul a:hover { 
    color: #0271CF !important; 
}

/***********************
Reimbursements 
************************/

.pointerUl {
    cursor: pointer;
}

/***********************
Clicker
***********************/
.clicker-display-5 {
  color: red;
}

/**********************
 Sign In
**********************/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/****************************
  Manage Users
*******************************/
#restaurant-table-container {
  margin-top: 1.5em;
}

#restaurant-table-body > tr:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 32px 0px rgba(59,209,0,1);
-moz-box-shadow: inset 0px 0px 32px 0px rgba(59,209,0,1);
box-shadow: inset 0px 0px 32px 0px rgba(59,209,0,1);
}

.gradient-background {
  background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 86%);  /* FF3.6-15 */
background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 86%);  /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 86%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#72aa00',GradientType=1 );
}

.delete-button:hover {
  -webkit-box-shadow: inset 0px 0px 32px 0px #d1003b;
-moz-box-shadow: inset 0px 0px 32px 0px #d1003b;
box-shadow: inset 0px 0px 32px 0px #d1003b;
cursor: not-allowed;
}